<%= form_for [:admin, @service] do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
  <input type="hidden" name="service[section_id]" id="service_section_id" value="<%= params[:cat] %>" />
 
  <div class="form-group">
    <%= f.label :title, 'Tjeneste tittel', :class => "" %>
    <%= f.text_field :title, :class => 'form-control', :placeholder => "Tjeneste tittel" %>
  </div>
  <div class="form-group">
    <%= f.label :icon, 'Fontawesome ikon', :class => "" %>
    <%= f.text_field :icon, :class => 'form-control', :placeholder => "Ikon" %>
  </div>  
  <div class="form-group">
    <%= f.label :description, 'Beskrivelse' %><br>
     <%= f.text_area :description, :class => "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit 'Lagre tjeneste', :class => 'btn btn-info' %>
  </div>
<% end %>