<div class="ibox">
  <div class="ibox-content">
    <div class="panel-body">
      <table class="table table-bordered table-hover" >
        <thead>
          <tr>
            <th>Tittel</th>
            <th>Beskrivelse</th>
            <th colspan="2">Handlinger</th>
          </tr>
        </thead>

        <tbody>
          <% @articles.each do |art| %>
            <tr>
              <td><%= art.title %></td>
              <td><%= art.summary.html_safe %></td>
              <td><%= link_to 'Redigere', edit_admin_article_path(art, :cat => params[:cat]), :class => 'btn btn-info btn-xs' %></td>
              <td><%= link_to 'Slett', admin_article_path(art, :cat => params[:cat]), :class => 'btn btn-danger btn-xs', method: :delete, data: { confirm: 'Er du sikker?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'Ny artikkel', new_admin_article_path(:cat => params[:cat]), :class => 'btn btn-primary' %>

    </div>
  </div>
</div>
