<%= form_for [:admin, @section] do |f| %>
  <% if @section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@section.errors.count, "error") %> prohibited this admin_category from being saved:</h2>

      <ul>
      <% @section.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, 'Seksjon', :class => "" %>
    <%= f.text_field :title, :class => 'form-control', :placeholder => "Seksjonsnavn" %>
  </div>
  <div class="form-group">
    <%= f.label :description, 'Beskrivelse' %><br>
     <%= f.text_area :description, :class => "summernote" %>
  </div>
  <div class="actions">
    <%= f.submit 'Lagre seksjon', :class => 'btn btn-info' %>
  </div>
<% end %>

<script type="text/javascript">
  $(function() {
    $('.summernote').summernote({
      height: 200,
      tabsize: 4,
      toolbar: [
                 ["style", ["style"]],
                 ["style", ["bold", "italic", "underline", "clear"]],
                 ["table", ["table"]],
                 ["para", ["ul", "ol", "paragraph"]],
                 ['extensions', ['gallery']],
                 ['insert', ['videoAttributes']],  
                 ['insert', ['link']],  
                 ['insert', ['hr']]
                 
             ],
        callbacks :{
             onInit: function() {
                $(this).data('image_dialog_images_url', '<%= admin_photos_list_url %>');
                $(this).data('image_dialog_title', "Bilde galleri");
                $(this).data('image_dialog_close_btn_text', "Lukk");
                $(this).data('image_dialog_ok_btn_text', "Ok");
            }
        }             
      });
    });
  </script>