    <!-- Intro Dragseth EnergiConsult -->
    <section class="landing_welcome_area height-600 landing_one_version background-overlay jarallax" style="background-image: url(<%= asset_path 'bg-index.jpg' %>);" id="home">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12">
            <!-- Welcome Text  -->
            <div class="landing_hero_text text-center">
              <h2 class="fonts-shadow-into-light"><%= @sections[0].title %></h2>
              <p style="margin-top: 15px;"><%= @sections[0].description.html_safe %></p> 
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Intro -->    

    <!-- Tjenester -->
    <section class="about_area landing_one_version section_padding_100_70" id="features">
        <div class="container">
            <div class="our_speciality_area">
                <div class="row">
                    <div class="col-12">
                        <div class="about_text">
                            <h3><%= @sections[1].title %></h3>
                            <p><%= @sections[1].description.html_safe %></p>
                        </div>
                    </div>
                </div>
                <div style="height: 30px;"></div>
                <div class="row">
                	<% @services.each do |service| %>
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="single_speciality item">
                            <div class="single_speciality_icon">
                                <i class="fa fa-<%= service.icon %>" aria-hidden="true"></i>
                            </div>
                            <div class="single_speciality_text">
                                <h5 style="color:#000"><%= service.title %></h5>
                                <p><%= service.description.html_safe %></p>
                            </div>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </section>
    <!-- Tjenester -->
    <!-- Artikler -->
    <section class="about_us_area landing_one_version clearfix">
        <div class="container">
        	<% @articles.each do |art| %>
          		<%= render art.template, artic: art %>
        	<% end %>	
        </div>    		
    </section>
    <!-- Artikler -->    

    <!-- Prosjekt modal -->
    <% @projects.each do |project| %>
    <div class="modal fade" id="project-modal-<%= project.id %>" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog custom-modal" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><%= project.title %></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">                 
                    <div class="service_details_content p-15">                       
                        <div class="service_details_thumb">
                            <%= image_tag(project.image, :class => "", :alt => "") if project.image? %>
                        </div>
                        <div class="single_part_content m-top-30">
                        	<%= project.content.html_safe %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% end %>
    <!-- Prosjekt modal -->

    <!-- Prosjekter -->
     <section class="about_area landing_one_version section_padding_100_70" id="projects">
        <div class="container">
            <div class="our_speciality_area">
                <div class="row">
                    <div class="col-12">
                        <div class="about_text">
                            <h3><%= @sections[3].title %></h3>
                            <p><%= @sections[3].description.html_safe %></p>
                        </div>
                    </div>
                </div>
                <div style="height: 30px;"></div>
                <div class="row">
                	<% @projects.each do |project| %>
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="single_speciality item">
                            <div class="single_speciality_icon">
                                <i class="fa fa-<%= project.service.icon %>" aria-hidden="true"></i>
                            </div>                            
                            <div class="single_speciality_text">
                                <h5><%= project.title %></h5>
                                <p><%= project.summary %></p>
                            </div>
                            <p style="margin-top: 10px;"><a class="btn btn-outline btn-pill btn-sm btn-mat-blue" data-target="#project-modal-<%= project.id %>" data-toggle="modal" href="#">Les mer</a></p>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </section>
    <!-- Prosjekter -->

    <!-- Spørsmål og svar -->
    <% if @faqs.present? %>
    <section class="about_area landing_one_version section_padding_100_70" id="faq">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section_heading">
                        <h3><%= @sections[6].title %></h3>
                        <p><%= @sections[6].description.html_safe %></p>
                    </div>
                </div>
            </div>            
            <div class="row">
                <div class="col-md-12">
                    <div class="faq_area">
                        <div class="accordions" id="accordion" role="tablist" aria-multiselectable="true">
                            <!-- single accordian area start -->
                            <% @faqs.each do |faq| %>
                            <div class="panel single-accordion">
                                <h6>
                                    <a role="button" class="collapsed" aria-expanded="false" aria-controls="faq-<%= faq.id %>" data-toggle="collapse" data-parent="#accordion" href="#faq-<%= faq.id %>"><%= faq.question %>
                                    <span class="accor-open"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                    <span class="accor-close"><i class="fa fa-angle-up" aria-hidden="true"></i></span>
                                    </a>
                                </h6>
                                <div id="faq-<%= faq.id %>" class="accordion-content collapse" style="">
                                    <p><%= faq.answer.html_safe %></p>
                                </div>
                            </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <% end %>
    <!-- /Spørsmål og svar -->    

    <!-- Samarbeidspartnere -->
    <section class="landing_why_choose_us landing_one_version section_padding_100_50" id="partners">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section_heading">
                        <h3><%= @sections[4].title %></h3>
                        <p><%= @sections[4].description.html_safe %></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <% @partners.each do |partner| %>
                <div class="col-12 col-sm-6 col-md-6">
                    <div class="single_why_choose_us text-center">
                        <%= image_tag(partner.logo, :class => "", :alt => "", :style => 'width:250px;') if partner.logo? %>
                        <p><%= partner.description %></p>
                        <a href="<%= partner.link %>" target="_blank" class="btn btn-outline btn-pill btn-sm btn-mat-blue"><%= partner.title %> sine nettsider</a>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </section>
    <!-- Samarbeidspartnere -->

    <!-- Video Energikonferansen -->
    <div class="video_area landing_one_version section_padding_100 background-overlay jarallax" style="background-image: url(<%= asset_path 'energi-sparing.jpg' %>);">
        <div class="video_play_area text-center">
            <h3>De viktige valgene: Åpningsfilm Enovakonferansen 2018</h3>
            <!-- Video Link -->
            <a href="https://www.youtube.com/watch?v=lugFnjXmGNA" class="video_btn"><i class="fa fa-play" aria-hidden="true"></i></a>
            <p>Se denne videoen på 2 minutter</p>
        </div>
    </div>
    <!-- Energikonferansen -->

    <!-- Kontakt -->
    <section class="message_now_area landing_one_version section_padding_100_70" id="contact">
        <div class="container">
            <div class="row justify-content">
                <div class="col-md-12">
                    <div class="message_title">
                        <div class="section_heading">
                            <h3>Ta kontakt for en uforpliktende prat</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <% @contacts.each do |contact| %>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="contact_from">
                    	<div class="row">
                    		<div class="col-md-4">
                    			<%= image_tag(contact.image, :class => "img-responsive", :alt => '') if contact.image? %>
                    		</div>
                    		<div class="col-md-8">
                    			<h4><%= contact.name %></h4>
                    			<p><i class="fa fa-phone"></i> <%= contact.telephone %></p>
                    			<p><a href="mailto:<%= contact.email %>" style="color:#555;"><i class="fa fa-envelope"></i></a> <%= contact.email %></p>
                    			<p><%= contact.description.html_safe %></p>
                    		</div>
                    	</div>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </section>
    <!-- Kontakt -->




